<!-- TODO -- src/app/assemblyline/assemblyline.component.html -->
<div>
  <input data-testid="assembly-add-item" [(ngModel)]="newItem" (keydown.enter)="addItem()" />

  <div *ngFor="let stage of stages; let i = index" data-testid="assembly-stage">
    {{ stage }}
    <button
      *ngFor="let item in items[i]; let j = index"
      data-testid="assembly-item"
      (click)="moveItem(item, j, i, true)"
      (contextmenu)="moveItem(item, j, i, false); $event.preventDefault()"
      (dblclick)="deleteItem()"
    >
      {{ item }}
    </button>
  </div>
</div>





<!-- <table>
  <thead>
    <tr>
      <th>Idea</th>
      <th>Development</th>
      <th>Testing</th>
      <th>Deployment</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of items">
    <tr *ngFor="let stage of stages; let j = index">
      <td *ngFor="let column of stage.columns; let i = index" (click)="moveItem(item, j, i, true)" (contextmenu)="moveItem(item, j, i, false); $event.preventDefault()" data-testid="assembly-add-item">
        {{ item[column] || '' }}
      </td>
    </tr>
  </tbody>
</table> -->



